.movies-image {
  width: 20em;
  border-radius: 15px;
}

#rounded {
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 15px;
}
#roundmovie {
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 15px;
}

.lilspaces{
  margin-bottom: 5em;
}

.header-submitMovie {
  transition: .15s linear;
  margin-top: -10px;
  margin-bottom: 20px;
  z-index: -1;
}

.header-submitMovie.ng-hide {
  transform: translateY(-90%);
}

.header-active, .header-favorite, .movies-favorite {
  color: rgb(75, 101, 193);
  opacity: 1;
  cursor: pointer;
}

.comment {
  margin-top: 15px;
}

.comment-ul-wrapper {
  padding: 0;
  margin: 0;
}

.comment-li-wrapper {
  background: white;
  list-style: none;
  padding: 5px;
  margin: 5px 0;
}

.comment-li-wrapper .comment-author {
  font-weight: 600;
}

.comment-header {
  font-size: 13px;
  text-transform: uppercase;
  opacity: .7;
}

.btn, .btn:focus {
  outline: none;
}
.media-left {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color:  rgba(100,100,100,.1);
}
.media-body {
  padding-left: 2em;
}
.media{
  border-radius: 15px;
}
