
body > div {
  background-color: rgba(50, 80, 105, .9);
  font-family: 'Poiret One', cursive;
}

.movies-image {
  width: 20em;
  border-radius: 15px;
}
.movies{
  margin-top: 5em;
}
#rounded {
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 15px;
  background-color: rgba(150,200,250,.8);
  text-shadow: 2px 2px 2px rgba(200,230,250,.8);
}
#roundmovie {
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 15px;
  background-color: rgba(200,230,250,.8);
}
#circle {
  border-radius: 50%;
  color: black;
  background-color: rgba(50, 80, 105, .6);
  text-shadow: 2px 2px 2px #EEEEEE;
  text-align: center;
  margin-top: 1em;
}
#comment {
  padding: 1em;
  height: 50%;
  width: 50%;
  display: inline-block;
    margin: 2px;
}
.lilspaces{
  color: white;
  margin-top: 4em;
  margin-bottom: 0em;
  margin-left: 5em;
  margin-right: 5em;
  background-color: rgba(0,0,0,.6);
  border-radius: 15px;
}

.header-submitMovie {
  transition: .4s linear;
  margin-top: 5em;
  z-index: -1;
}

.header-submitMovie.ng-hide {
  transform: translateY(-90%);
}

.header-active, .header-favorite, .movies-favorite {
  color: rgba(75, 100, 250,.5);
  opacity: 1;
  cursor: pointer;
  text-shadow: 2px 2px 2px #EEEEEE;
}

.comment {
  margin-top: 15px;
}

.comment-ul-wrapper {
  padding: 0;
  margin: 0;
}

.comment-li-wrapper {
  background: rgba(0, 0, 0, 0.2);;
  list-style: none;
  padding: 5px;
  margin: 5px 0;
  border-radius: 20px;
  text-align: center;

}

.comment-li-wrapper .comment-author {
  font-weight: 800;
}

.comment-header {
  font-size: 13px;
  text-transform: uppercase;
  opacity: .7;
}

.btn, .btn:focus {
  outline: none;
}
.media-left {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.media-body {
  padding-left: 2em;
}
.media{
  border-radius: 15px;
}
#formar {
  width: 40em;
}
.row {
  margin-top: 2em;
}
 .has-error {
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
}
.validation {
  width: 40em;
}
#fo0fo {
	width: 50em;
	height: 50em;
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
